{% extends 'Customerbase/customerbase.html' %}
{%load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow p-4 rounded-4">
        <h3 class="mb-4 text-center">Buy Now - {{ buy_data.product_name}}</h3>
        {% if buy_data.product_img %}
            <img src="{{ buy_data.product_img.url }}" alt="{{ buy_data.product }}" width="150" class="img-fluid rounded">
        {% else %}
            <p>No image available</p>
        {% endif %}
    </div>
</div>

<br><br>
        <form method="post">
            {% csrf_token %}
            {{buynow|crispy }}

            <button type="submit">Buynow</button>


        </form>

{% endblock %}

