<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Breeze Admin</title>
    <link rel="stylesheet" href=" {% static 'assets1/vendors/mdi/css/materialdesignicons.min.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets1/vendors/flag-icon-css/css/flag-icon.min.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets1/vendors/css/vendor.bundle.base.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets1/vendors/font-awesome/css/font-awesome.min.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets1/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets1/css/style.css' %} " />
    <link rel="shortcut icon" href=" {% static 'assets1/images/favicon.png' %} " />
      <style>
  .dog-hero {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    animation: float 4s ease-in-out infinite;
  }

  @keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
  }

/* Make the sidebar fixed */
.sidebar-offcanvas {
  position: fixed;

}

/* Adjust the main content to make room for fixed sidebar */
.main-panel {
  margin-left: 140px; /* Match the sidebar width */
  padding: 20px;
  margin-right:-100px;
}


</style>
  </head>
  <body>
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
          <a class="sidebar-brand brand-logo" href=" {% static 'index.html' %} "><img src=" {% static 'assets1/images/dog.png' %} " alt="logo" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;" class="img-fluid"/></a>

        </div>
        <br>
        <ul class="nav">
          <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
              <div class="nav-profile-image">
                <img src=" {% static 'assets1/images/faces/face1.jpg' %} " alt="profile" />
                <span class="login-status online"></span>
                <!--change to offline or busy as needed-->
              </div>
              <div class="nav-profile-text d-flex flex-column pr-3">
                <span class="font-weight-medium mb-2">{{ request.user }}</span>

              </div>

            </a>
          </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'customerloginview' %}">
                     <i class="mdi mdi-home-outline menu-icon"></i>
                        <span class="menu-title">Home</span>
                    </a>
                  </li>
   <li class="nav-item">
            <a class="nav-link" href=" {% url 'productview_customerall' %} ">
              <i class="mdi mdi-paw menu-icon"></i>
              <span class="menu-title">All Products</span>
            </a>
          </li>

                 <li class="nav-item">
  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
    <i class="mdi mdi-view-grid-outline menu-icon"></i>Categorize
  </a>
  <div class="dropdown-menu navbar-dropdown" style="background-color: #001f3f;">
     <a class="dropdown-item" href="{% url 'productview_customer' %}?category=FOOD" style="color: white;"> Food </a>
    <a class="dropdown-item" href="{% url 'productview_customer' %}?category=TOYS" style="color: white;"> Toys </a>
    <a class="dropdown-item" href="{% url 'productview_customer' %}?category=COLLARS" style="color: white;"> Collars </a>
    <a class="dropdown-item" href="{% url 'productview_customer' %}?category=BEDS" style="color: white;"> Beds </a>
    <a class="dropdown-item" href="{% url 'productview_customer' %}?category=GROOMING" style="color: white;"> Grooming </a>
    <a class="dropdown-item" href="{% url 'productview_customer' %}?category=CLOTHING" style="color: white;"> Clothing </a>
  </div>
</li>

          <li class="nav-item">
               <a class="nav-link" href="{% url 'cart' %}">
                <i class="mdi mdi-cart-outline menu-icon"></i>
              <span class="menu-title">Add to cart</span>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=" {% url 'replay_feedback' %} ">
              <i class="mdi mdi-reply menu-icon"></i>
              <span class="menu-title">My Feedback Replay</span>
            </a>
          </li>



          <li class="nav-item">
            <a class="nav-link" href=" {% url 'feedback' %} ">
              <i class="mdi mdi-message-text-outline menu-icon"></i>
              <span class="menu-title">Feedback</span>
            </a>
          </li>
             <li class="nav-item">
            <a class="nav-link" href=" {% url 'myorder' %} ">
              <i class="mdi mdi-cart-arrow-down menu-icon"></i>
              <span class="menu-title">My Orders</span>
            </a>
          </li>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
              <br>
              <br>






          <li class="nav-item sidebar-actions">
            <div class="nav-link">
              <div class="mt-4">

                <ul class="mt-4 pl-0">
                  <a href="{% url 'logout' %}" class="btn btn-sm ml-3 btn-success"> SignOut</a>
                </ul>
              </div>
            </div>
          </li>

        </ul>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-default-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div> Default
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles light"></div>
            <div class="tiles dark"></div>
          </div>
        </div>
        <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
          <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
            <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href=" {% static 'index.html' %} "><img src=" {% static 'assets1/images/logo-mini.svg' %} " alt="logo" /></a>
            <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
              <i class="mdi mdi-menu"></i>
            </button>
            <ul class="navbar-nav">
                <!--messages-->
              <li class="nav-item dropdown">
  <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
    <i class="mdi mdi-bell-outline"></i>
    {% if messages %}
      <span class="count count-varient1 bg-success">!</span>  <!-- show "!" or number -->
    {% endif %}
  </a>

  <div class="dropdown-menu navbar-dropdown navbar-dropdown-large preview-list" aria-labelledby="notificationDropdown">
    <h6 class="p-3 mb-0">Notifications</h6>
    <div class="dropdown-divider"></div>

    {% if messages %}
      {% for message in messages %}
        <a class="dropdown-item preview-item">
          <div class="preview-thumbnail">
            <div class="preview-icon bg-success text-white">
              <i class="mdi mdi-check"></i>
            </div>
          </div>
          <div class="preview-item-content">
            <p class="preview-subject font-weight-medium">{{ message }}</p>
          </div>
        </a>
      {% endfor %}
    {% else %}
      <a class="dropdown-item preview-item">
        <p class="text-muted m-2">No new notifications</p>
      </a>
    {% endif %}

    <div class="dropdown-divider"></div>
  </div>
</li>

              <li class="nav-item nav-search border-0 ml-1 ml-md-3 ml-lg-5 d-none d-md-flex">
              <form class="form-inline mt-2 mt-md-0" method="get" action="{% url 'product_search' %}">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="search_query"/>
                        <div class="input-group-append">
                          <button type="submit" class="input-group-text">
                              <i class="mdi mdi-magnify"></i>
                          </button>
                         </div>
                   </div>
              </form>

              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right ml-lg-auto">

              <li class="nav-item nav-profile dropdown border-0">
                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
                  <img class="nav-profile-img mr-2" alt="" src=" {% static 'assets1/images/faces/face1.jpg' %} " />
                  <span class="profile-name">{{ request.user }}</span>
                </a>
                <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
                
                  <a class="dropdown-item" href="{% url 'logout' %}">
                    <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper pb-0">
            {% block content %}
              <br>
            <div class="page-header flex-wrap">

              <h3 class="mb-0"> 🐾 Welcome to TailWag Supply  <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block">🐕 Explore our carefully curated products
📦 Enjoy fast delivery right to your doorstep
💖 Join a community that puts pups first</span>
              </h3>



            </div>
            <div class="row">
              <div class="col-xl-3 col-lg-12 stretch-card grid-margin">
                <div class="row">

                </div>
              </div>
              <div class="w-100 stretch-card grid-margin">

                <div class="card">
                  <div class="card-body">


                    <h1>welcome to customer side</h1>
<img src="{% static 'images/dog.jpg' %}" alt="Happy Dog with Products" class="dog-hero">
                    {% endblock %}
                         {% if messages %}
                <div class="mt-4">
                    {% for message in messages %}
                        <div class="alert alert-info">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
                  </div>
                </div>
              </div>
            </div>

          </div>
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"></span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard template</a> from Bootstrapdash.com</span>
            </div>
          </footer>
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src=" {% static 'assets1/vendors/js/vendor.bundle.base.js' %} "></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src=" {% static 'assets1/vendors/chart.js/Chart.min.js' %} "></script>
    <script src=" {% static 'assets1/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %} "></script>
    <script src=" {% static 'assets1/vendors/flot/jquery.flot.js' %} "></script>
    <script src=" {% static 'assets1/vendors/flot/jquery.flot.resize.js' %} "></script>
    <script src=" {% static 'assets1/vendors/flot/jquery.flot.categories.js' %} "></script>
    <script src=" {% static 'assets1/vendors/flot/jquery.flot.fillbetween.js' %} "></script>
    <script src=" {% static 'assets1/vendors/flot/jquery.flot.stack.js' %} "></script>
    <script src=" {% static 'assets1/vendors/flot/jquery.flot.pie.js' %} "></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src=" {% static 'assets1/js/off-canvas.js' %} "></script>
    <script src=" {% static 'assets1/js/hoverable-collapse.js' %} "></script>
    <script src=" {% static 'assets1/js/misc.js' %} "></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src=" {% static 'assets1/js/dashboard.js' %} "></script>
    <!-- End custom js for this page -->
  </body>
</html>